<app-search [searchKey]="searchKey" [searchCallBack]="getCustomers" searchKeyName="Customer ID" (searchKeyChanged)="onSearchKeyChanged($event)"></app-search>   
<p *ngIf="errorMessage != ''" class="text-danger text-center">{{ errorMessage }}</p>
<table class="table">
 <thead>
   <tr>
     <th>Customer Id</th>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Email</th>
     <th>Username</th>
     <th>Account No</th>
     <th>Account Balance</th>
   </tr>
 </thead>
 <tbody>
   <tr *ngFor="let account of accounts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
     <td>{{ account.customerId }}</td>
     <td>{{ account.firstName }}</td>
     <td>{{ account.lastName }}</td>
     <td>{{ account.email }}</td>
     <td>{{ account.username }}</td>
     <td>{{ account.account.accountNo }}</td>
     <td>{{ account.account.balance }}</td>
   </tr>
 </tbody>
</table>

<div class="conatiner">
   <div class="row d-flex justify-content-center">
       <div class="col-md-6">
        <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="accounts.length" [boundaryLinks]="true" [maxSize]="5">
         </ngb-pagination>
       </div>
   </div>
</div>