 <app-search [searchKey]="searchKey" [searchCallBack]="getTransactions" searchKeyName="Transaction ID" (searchKeyChanged)="onSearchKeyChanged($event)"></app-search>   
 <p *ngIf="errorMessage != ''" class="text-danger text-center">{{ errorMessage }}</p>
 <table class="table">
  <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Customer Id</th>
      <th>Account No</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Trn Type</th>
      <th>Debit/Credit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trans of transactions">
      <td>{{ trans.transactionId }}</td>
      <td>{{ trans.customerId }}</td>
      <td>{{ trans.accountNo }}</td>
      <td>{{ trans.amount }}</td>
      <td>{{ trans.balance }}</td>
      <td>{{ trans.transactionType }}</td>
      <td>{{ trans.debitOrCredit }}</td>
    </tr>
  </tbody>
</table>
